
$rose-pale: #f3e9f1;
$jaune-orange: #E6AD37;	
$bleu: #ABE1FB;

*{
	margin: 0;
	padding: 0;
	font-family: 'roboto';
}

html{
	height: 100%;
}
body{
	background: $rose-pale;
	width: 100%;
	height: 100%;
	margin: auto;
	justify-content: space-between;
}

ul{
	list-style-type: none;
	font-size: 1.5em;
	padding: 1em;
}
li{
	padding:0.5em;
}
a{
	color: black;
	text-decoration: none;
}

.flexIndex{
	display: flex;
}
#widthHeader{
	width: 15%;
	height: 100%;
}
#widthMain{
	width: 85%;
}
.sectionProduct{
	width: 100%;
}
main {
	background: white;
	padding: 1em;
	display: flex;
	flex-wrap: wrap;
}
header{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: $rose-pale;
	padding:1em;
	border-right: solid 3px;
	border-color: $jaune-orange;
	img{
		width: 100%;
		padding-top:2em;
	}

}

.product{
	position: relative;
	height: 40%;
	width: 30%;
	padding :0.5em;
	background-color: $bleu;
	margin: 1em;
		img{
			height: 100%;
			width: 100%;
		}

}


@media (max-width:1440px){
	.product{
		height: 30%;
		width: 25%;
	}
} 
.absoluteProduct{
	position: absolute;
	bottom: 2em;
	right: 2em;
	padding: 0.5em;
	background-color: white;
	border-radius: 1em;
	border: 3px solid $jaune-orange;
}		


/* Page Card ///////////////////*/


#oneProduct{
	margin: auto;
	width: 60%;
	height:90%;
	text-align: center;
	background-color: $rose-pale;
	border-radius: 1.5em;	
	box-shadow: 0 5px 10px rgb(0,0,0,0.4);
	img{
		width: 100%;
		height: 60%;
		border-radius: 1.5em 1.5em 0 0;
	}
	p,h2,label{
		margin: auto;
		margin-top:0.6em;
		margin-bottom:0.6em;
		max-width: 85%;
	}

	// Barre Select Custom only css

	select{
		font-size: 1em;
		padding: 1em 5em 1em 1.5em;
		background-color: #4d5061;
		color: white;
		border: 0;

		border-radius: 1em;
	}
	.custom-select{
		position: relative;
		margin: auto;
		margin-top: 0.5em;
		width: 207px;
	}
	.custom-arrow{
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		background: #3b3c47;
		height: 100%;
		width: 3em;
		pointer-events: none;
		border-radius: 0 1em 1em 0;
	}
	.custom-arrow::before,
	.custom-arrow::after {
		--size: 0.50em;

		content: "";
		position: absolute;
		width: 0;
		height: 0;

		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	.custom-arrow::before{
		border-left: var(--size) solid transparent;
		border-right: var(--size) solid transparent;
		border-bottom: var(--size) solid rgba(255,255,255,0.5);

		top: 35%;
	}
	.custom-arrow::after{
		border-left: var(--size) solid transparent;
		border-right: var(--size) solid transparent;
		border-top: var(--size) solid rgba(255,255,255,0.5);

		top: 60%;
	}
}

#add-basket{
	background-color:#4d5061;
	padding: 0.7em 1.5em 0.7em 1.5em;
	margin: auto;
	margin-top: 1em;
	width: 85%;
	border-radius: 1em;
	cursor: pointer;
	h2{
		font-size: 1.2em;
		color: white;
	}
}


	
// ----- Panier ----- //



.basket-section{
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: $rose-pale;
	margin: auto;
	padding: 1em;
	height: auto;
	border-radius: 1em;
}
#basket-recap{
	display: flex;
	width: 100%;
	justify-content: space-around;
	padding: 1em;
	margin-bottom: 5em;
	p{
		padding: 0.2em;
	}
	
}

.input--custom{
	padding: 0.5em;
	display: flex;
	flex-direction: column;
}
#btn-submit{
	padding:0.5em;
	margin: auto;
}
#flex--price{
	display: flex;
}